name: nuget

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Install .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      
      - name: Install MAUI Workload
        run: dotnet workload install maui --ignore-failed-sources

      - name: Restore dependencies
        run: dotnet restore
      
      - name: Build
        run: dotnet build --no-restore -p:CSharpier_Bypass=true

  pack:
    if: ${{ github.event_name == 'push' && github.ref_type == 'tag' }}

    runs-on: windows-latest

    permissions:
      actions: write
      contents: read

    steps:
      - uses: actions/checkout@v4
      
      - name: Install .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
            
      - name: Install MAUI Workload
        run: dotnet workload install maui --ignore-failed-sources

      - name: Pack
        run: >
          dotnet pack
          -p:ContinuousIntegrationBuild=true
          -c Release
          -p:Version=${{ github.ref_type == 'tag' && github.ref_name || format('0.0.0-ci-{0}', github.sha) }}
          -p:CSharpier_Bypass=true
      
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: packages
          path: "**/*.nupkg"

  deploy:
    runs-on: windows-latest
    permissions:
      actions: read

    needs:
      - pack

    steps:
      - name: Install .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: packages

      - name: Push packages
        run: >
          dotnet nuget push **/*.nupkg
          --source "https://api.nuget.org/v3/index.json"
          --api-key ${{ secrets.NUGET_TOKEN }}